* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-claro: #B2ffff;
    --azul-claro2: #98eded;
    --azul-claro3: #7ae4e4;
    --azul-claro4: #59dddd;
    --azul-claro5: #36c6c6;
}

body{
    height: 100%;
    background-image: linear-gradient(to bottom, var(--azul-claro), var(--azul-claro2), var(--azul-claro4));
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    background-color: #fff;
    padding: 6px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.globe{
    font-size: 25px;
    margin-top: 1px;
}

main{
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main img{
    position: absolute;
    width: 100%;
    height: 100%;
}

main input{
    padding: 10px 8px;
    border-radius: 28px;
    border: none;
    outline: none; 
    width: 68vh;
    background-color: #f6f6f6;
}

.search{
    display: flex;
    align-items: center;
    border-radius: 28px;
    background-color: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
}

.buscaPais{
    max-width: 1100px;
    overflow: auto;
    height: 520px;
    margin: 20px auto;
    display: grid;
    gap: 13px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.589);
    border: 2px solid rgba(69, 83, 129, 0.582);
    border-radius: 12px;
    grid-template-columns: repeat(4, 1fr);
}

.buscaPais::-webkit-scrollbar{
    width: 13px;
    height: 10px;
}

.buscaPais::-webkit-scrollbar-thumb{
    background-color: var(--azul-claro5);
    border-radius: 6px;
    border: 1px solid var(--azul-claro3);
}

.buscaPais::-webkit-scrollbar-thumb:hover{
    background-color: var(--azul-claro4);
}

.paises-div{
    background-color: var(--azul-claro4);
    padding: 15px;
    border: 1px solid rgba(154, 60, 60, 0.507);
    border-radius: 6px;
    width: 256px;
    cursor: pointer;
}

#flags{
    width: 100%;
    height: 150px;
}

#buttonClose{
    cursor: pointer;
    background-color: transparent;
    color: #9ca3af;
    border: none;
    font-size: 1.6rem;
    padding: 10px 15px;
    position: absolute;
    top: 3px;
    right: 5px;
}

.paisModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    background-color: #ebebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headerModal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainModal{
    margin: 30px;
}

.mainModal > h4{
    margin-top: 10px;
}

#flagsModal{
    height: 185px;
}